.map {
  height: 450px;

  .magnitude-color {
    color: red;
    font-size: 140%;
    font-weight: bold;
  }

  .read-more {
    a {
      color: white;
      padding: 3px 5px;
      font-size: 100%;
      line-height: 1.5;
    }
  }

  // Подпись.
  .map-text {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 2px;
    font-size: 120%;
    width: 280px;

    p {
      color: #444;
      font-family: 'Open Sans', sans-serif;
      max-height: 10px;
      padding-left: 27px;
      padding-right: 35px;
      padding-top: 2px;
    }
  }

  .map-legend {
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    color: #555;
    line-height: 15px;
    padding: 6px 8px;
    text-align: left;

    i {
      float: left;
      height: 15px;
      margin-right: 8px;
      opacity: .7;
      width: 15px;
    }

    @mixin one_item_color($selector, $bg_color, $border_color_tl, $border_color_br) {
      &.#{$selector} {
        background-color: $bg_color;
        border-left: 2px solid $border_color_tl;
        border-top: 2px solid $border_color_tl;
        border-right: 2px solid $border_color_br;
        border-bottom: 2px solid $border_color_br;
      }
    }
    @mixin legend_colors($bg_colors, $border_colors_tl, $border_colors_br) {
      @include one_item_color('less-1-day', nth($bg_colors, 1), nth($border_colors_tl, 1), nth($border_colors_br, 1))
      @include one_item_color('less-5-days', nth($bg_colors, 2), nth($border_colors_tl, 2), nth($border_colors_br, 2))
      @include one_item_color('less-14-days', nth($bg_colors, 3), nth($border_colors_tl, 3), nth($border_colors_br, 3))
      @include one_item_color('more-14-days', nth($bg_colors, 4), nth($border_colors_tl, 4), nth($border_colors_br, 4))
    }

    @mixin legend_bg_colors($colors) {
      &.less-1-day { background-color: nth($colors, 1) !important; }
      &.less-5-days { background-color: nth($colors, 2) !important; }
      &.less-14-days { background-color: nth($colors, 3) !important; }
      &.more-14-days { background-color: nth($colors, 4) !important; }
    }

    .button {
      display: inline-block;
      padding: 5px;
      text-align: center;
      width: 70px;
      background-color: white;
      @include legend_colors((#FF0000, #FFA500, #FFFF00, #808080), (#FF3030, #FFD830, #FFFF30, #A0A0A0), (#AA0000, #AA5000, #AAAA00, #202020))
      &:hover {
        cursor: pointer;
        @include legend_bg_colors((#F02020, #F0A510, #E0E020, #909090))
      }
      &.pressed {
        @include legend_colors((#FF0000, #FFA500, #FFFF00, #808080), (#AA0000, #AA5000, #AAAA00, #202020), (#FF3030, #FFD830, #FFFF30, #A0A0A0))
      }
    }

    .buildings-legend {
      width: 50px;

      span:first-child {
        width: 10px;
      }

      span:last-child {
        margin-left: 10px;
        width: auto;
      }
    }
  }

  .leaflet-control-attribution {
    margin-right: 10px;
    text-align: center;
    width: 280px;
  }

  /* ZoomHome plugin */
  .leaflet-control-zoomhome-home i.fa-home {
    font-size: 160%;
  }

  a.leaflet-control-zoomhome-in,
  a.leaflet-control-zoomhome-out {
    font-size: 150%;
  }
}
